<!DOCTYPE HTML>

<html>

    <head>
        <title>Chart the Stock Market</title>
        
        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        
        <!-- THE NEXT THREE ARE BOOTSTRAP -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        
        
        <!-- D3 CDN -->
        <script src="https://d3js.org/d3.v4.min.js"></script>
        
        <!-- CREATED DOCUMENTS. ORDER MATTERS. SOCKET CDN, SOCKETS.JS, IN DOC SCRIPT, CHART.JS, JAVASCRIPT.JS -->
        <link href="style.css" type="text/css" rel="stylesheet" />
        
        <!--SOCKET.IO-->
        <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
        
        
        <script src="sockets.js"></script>
        
        
        
        <script>
            
            //Make holder list for stock prices
            var prices = [];
            var data;
            var ticker = '<%= ticker %>';
            
            //Put prices into prices list through EJS loop in the server
            //FOR USE IN THE javascript.js SCRIPT
            <% for (var i in data) { %>
            
                data = {
                    date: new Date('<%= data[i].date %>'),
                    close: <%= data[i].close %>
                }
                
                prices.push(data);
                
                //prices.push(<%= data[i].close %>);
            <% } %>
            
            //Reverse the list because Quandl API lists most recent prices first
            prices.reverse();
        
        </script>
        
        <script src="chart.js"></script>
        <script src="javascript.js"></script>
    
    
    </head>
    
    
    
    <body>
        
        <h1 class="text-center">Chart the Stock Market</h1>
        
        <div class="add_stock col-xs-4 col-xs-offset-4">
            <div class="input-group">
                <input type="text" class="form-control ticker_text" placeholder="Ticker Symbol" />
                <span class="input-group-btn">
                    <button class="btn btn-success get_stock" type="button">Add</button>
                </span>
            </div>
        </div> <!-- end add stock -->
        
        <br />
        <div class="error_text col-xs-12 no_show text-center"><p>Incorrect Symbol</p></div>
        
        
        <div class="holder col-xs-8 col-xs-offset-2">

            <div class="row">
            
            
            </div>
            
        
        </div>
            


        
        
    </body>





</html>