<!DOCTYPE HTML>

<html>

    <head>
        <title>Chart the Stock Market</title>
        
        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        
        <!-- THE NEXT THREE ARE BOOTSTRAP -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        
        
        <!-- D3 CDN -->
        <script src="https://d3js.org/d3.v4.min.js"></script>
        
        <!-- My Docs -->
        <link href="style.css" type="text/css" rel="stylesheet" />
        
        <script>
            var prices = [];
            
            
            //Put prices into prices list through EJS loop in the server
            //FOR USE IN THE javascript.js SCRIPT
            <% for (var i in data) { %> 
                prices.push(<%= data[i].close %>);
            <% } %>
            
            console.log(prices);
            
        
        </script>
        
        <script src="javascript.js"></script>
    
    
    </head>
    
    
    
    <body>
        
        <h1 class="text-center">Chart the Stock Market</h1>
     

        <div class="holder"></div>


    </body>





</html>