body {

}

.row {
    padding: 0;
    margin: 0;
}

#chart {
    background: #f9f7f7;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.yAxis {

}

.add_stock {

    margin-bottom: 25px;
}

.holder {

    padding: 0;
}

.stock {
    padding: 15px;
}

.stock_holder {
    border: solid;
    border-color: #CCC;
    border-radius: 10px;
    padding: 10px;
    min-height: 50px;
    text-align: center;
}